@import 'src/assets/styles/variables';

.sectionCarousel {
	max-width: 1220px;
	margin: 0 auto;
	position: relative;

	.title {
		max-width: 640px;
		color: $black;
		font-size: 45px;
		font-weight: 900;
		line-height: normal;
		letter-spacing: 0.45px;
		margin-bottom: 55px;
	}
}

.titleCarousel {
	color: $black;
	font-size: 45px;
	font-weight: 900;
	line-height: normal;
	letter-spacing: 0.45px;
	margin-bottom: 70px;
}

.carouselSlider {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 350px;
	padding: 0 15px;
}

.slickArrowLeft {
	position: absolute;
	top: 110px;
	left: -25px;
	background-image: url('../../../../public/images/arrowLeftHistogram.png');
	background-repeat: no-repeat;
	cursor: pointer;
}

.slickArrowRight {
	position: absolute;
	top: 110px;
	right: -25px;
	background-image: url('../../../../public/images/arrowLeftHistogram.png');
	transform: rotate(180deg);
	background-repeat: no-repeat;
	cursor: pointer;
}

@media (max-width: 680px) {
	.titleCarousel {
		font-size: 28px;
		letter-spacing: 0.28px;
	}
}

@media (max-width: $mobile) {
	.slickArrowLeft {
		left: -20px;
	}

	.slickArrowRight {
		right: -20px;
	}
}
