@import 'src/assets/styles/variables';

.wrapperCarousel {
	max-width: 1220px;
	margin: 0 auto;
	position: relative;

	.loader {
		text-align: center;
		margin: auto;

		& > img {
			width: 12%;
			height: 12%;
		}
	}

	.carouselQuantity {
		color: #949494;
		font-size: 18px;
		font-weight: 400;
		line-height: normal;
		letter-spacing: 0.36px;
		margin-bottom: 30px;
	}
	.carouselTable {
		position: absolute;
		z-index: 50;
		width: 133px;
		height: 158px;
		padding: 17px 25px;
		border-radius: 10px 0px 0px 10px;
		background: #029491;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.carouselRow {
			color: $white;
			font-family: Inter;
			font-size: 20px;
			font-weight: 500;
			line-height: normal;
			letter-spacing: 0.4px;
		}
	}

	.carouselItem {
		display: flex !important;
		height: 114px !important;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;

		border-left: 1px solid rgba(148, 148, 148, 0.4);
		border-right: 1px solid rgba(148, 148, 148, 0.4);
		.carouselDate,
		.carouselAll,
		.carouselRisks {
			color: $black;
			font-family: Inter;
			font-size: 18px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			letter-spacing: 0.36px;
		}
	}
}

@media (max-width: $tablet) {
	.wrapperCarousel {
	}
}

@media (max-width: $mobile) {
	.wrapperCarousel {
		.carouselTable {
			position: absolute;
			z-index: 50;

			padding: 23px 40px 23px 30px;
			height: 75px;
			width: 100%;
			border-radius: 10px 10px 0px 0px;

			display: flex;
			flex-direction: row;
			justify-content: space-between;
			.carouselRow {
				letter-spacing: 0.18px;
			}
		}
		.carouselItem {
			flex-direction: row;
			justify-content: space-between;
			padding: 80px 56px 20px 30px;

			border-left: none;
			border-right: none;
			.carouselDate {
				font-size: 16px;
				letter-spacing: 0.16px;
			}
			.carouselAll {
				margin-left: 20%;
				margin-right: 30%;
			}
		}
	}
}
