@import 'src/assets/styles/variables';

.mobileMenu {
	display: none;
}

.header {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 20px 60px;
	& > .logo {
		background-image: url('../../../../public/images/logo-header.svg');
		background-repeat: no-repeat;
		background-size: contain;

		max-width: 136px;
		width: 100%;
		height: 55px;
		cursor: pointer;
	}

	& > .desktopMenu {
		display: flex;
		justify-content: space-between;
		width: 100%;
		& > .menu {
			margin: 0px auto;
			align-self: center;
			& > .listMenu {
				display: flex;
			}
			& > .listMenu li a {
				color: $black;
				text-decoration: none;
				cursor: pointer;
				margin: 0px 24px;

				font-family: Inter;
				font-size: 14px;
				font-weight: 400;
				line-height: normal;
				letter-spacing: 0.14px;

				transition: color 0.15s ease-in-out;
				&:hover {
					color: $accent;
				}
			}
		}
	}
}

.enter {
	color: $accent;
	& > .registration {
		background-color: transparent;
		outline: none;
		border: none;

		color: $black;
		font-family: Inter;
		font-size: 14px;
		font-weight: 400;
		line-height: normal;
		letter-spacing: 0.14px;
		cursor: pointer;
		opacity: 0.4;
		margin-right: 20px;

		transition: opacity 0.15s ease-in-out;

		&:hover {
			opacity: 1;
		}
	}

	& > .btnLogin {
		width: 65px;
		height: 26px;
		outline: none;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		background-color: $accent-light;
		margin-left: 20px;
		transition: background-color 0.15s ease-in-out;

		&:hover {
			color: $white;
			background-color: $accent;
		}
	}
}

.account {
	display: flex;
	justify-content: space-between;
	max-width: 400px;
	width: 100%;
}

.statistics {
	padding: 10px 8px;
	max-width: 180px;
	min-height: 65px;
	border-radius: 5px;
	background-color: rgba(217, 217, 217, 0.4);

	color: rgba(0, 0, 0, 0.3);
	font-family: Inter;
	font-size: 10px;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.1px;

	.loader {
		max-width: 180px;
		width: 100%;
		text-align: center;
		margin: auto;

		& > img {
			width: 23%;
			height: 23%;
		}
	}

	& > .used {
		margin-bottom: 4px;
	}
	& > .used span {
		color: $black;
		font-family: Inter;
		font-size: 14px;
		font-weight: 700;
		line-height: normal;
		letter-spacing: 0.14px;
		margin-left: 6px;
	}
	& > .limit span {
		color: $green;
		font-family: Inter;
		font-size: 14px;
		font-weight: 700;
		line-height: normal;
		letter-spacing: 0.14px;
		margin-left: 6px;
	}
}

.profile {
	& > .profileInfo {
		position: relative;
		display: flex;
		width: 120px;
		margin-left: 10px;
		& > .name {
			align-self: center;
			margin-right: 5px;
			color: $black;
			font-family: Inter;
			font-size: 14px;
			font-weight: 400;
			line-height: normal;
			opacity: 0.7;
		}
	}
	& > .btnLogout {
		position: absolute;
		margin-left: 42px;

		color: black;
		font-family: Inter;
		font-size: 10px;
		font-weight: 400;
		line-height: normal;
		opacity: 0.4;
		cursor: pointer;
		transition: opacity 0.15s ease-in-out;

		&:hover {
			opacity: 1;
		}
	}
}

@media (max-width: $tablet) {
	.header {
		justify-content: space-between;
		padding: 20px 30px;
		.mobileMenu {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			max-width: 300px;
			width: 100%;
			margin-left: 15px;
			.statistics {
				margin-right: 15px;
			}
		}
	}

	.header {
		.desktopMenu {
			display: none;
		}
	}
}

@media (max-width: $mobile) {
	.header {
		.mobileMenu {
			.statistics {
				.used,
				.limit {
					display: flex;
					flex-direction: column;
				}
				.used span,
				.limit span {
					margin-top: 3px;
					margin-left: 0px;
				}
			}
		}
	}
}
