@import 'src/assets/styles/variables';

.sectionSearch {
	display: flex;
	margin-bottom: 50px;
	overflow-x: hidden;
	.sectionImage {
		margin: 50px 0px 0px 60px;
		max-width: 400px;
		max-height: 111px;
		user-select: none;

		width: 100%;
		height: 100%;

		min-width: 200px;
		min-height: 56px;
	}
	.info {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		& > .title {
			max-width: 820px;
			min-width: 230px;
			color: $black;
			font-size: 40px;
			font-weight: 900;
			line-height: normal;
			letter-spacing: 0.6px;
			margin-bottom: 25px;
		}

		& > .description {
			max-width: 534px;
			color: $black;
			font-size: 20px;
			font-weight: 400;
			line-height: normal;
			letter-spacing: 0.2px;
		}
	}
}

.sectionForm {
	display: flex;
	.sectionFormImage {
		margin: 50px 0px 0px 60px;
		max-width: 413px;
		max-height: 440px;
		width: 100%;
		height: 100%;
	}
}

@media (max-width: 1140px) {
	.sectionForm {
		flex-direction: column;
	}
}

@media (max-width: 800px) {
	.sectionSearch {
		.info {
			& > .title {
				font-size: 28px;
				letter-spacing: 0.28px;
				margin-bottom: 20px;
			}

			& > .description {
				font-size: 18px;
			}
		}
	}
}

@media (max-width: $mobile) {
	.sectionSearch {
		.sectionImage {
			margin: 130px 0px 0px 10px;
		}
	}

	.sectionForm {
		.sectionFormImage {
			max-width: 70%;
			margin: 50px 0px 0px 25%;
		}
	}
}
