@import 'src/assets/styles/variables';

.fieldWrapper {
	max-width: 200px;
	width: 100%;

	.datePicker {
		height: 43px;

		&:nth-child(1) {
			margin-right: 20px;
		}
	}
}

@media (max-width: 1300px) {
	.fieldWrapper {
		.datePicker {
			&:nth-child(1) {
				margin-right: 0px;
				margin-bottom: 15px;
			}
		}
	}
}

@media (max-width: 600px) {
	.fieldWrapper {
		max-width: 100%;
		width: 100%;

		.datePicker {
			width: 100%;
		}
	}
}
