@import 'src/assets/styles/variables';

.authWrapper {
	display: flex;
	justify-content: space-between;
	.sectionTitle {
		margin-right: 30px;
		margin-bottom: 100px;
		& > img {
			margin-left: 100px;
			max-width: 321px;
			max-height: 342px;
			user-select: none;

			width: 100%;
			height: 100%;

			min-width: 207px;
			min-height: 207px;
		}

		.title {
			max-width: 817px;
			color: $black;
			font-size: 40px;
			font-weight: 900;
			line-height: normal;
			letter-spacing: 0.8px;
			margin-bottom: 14px;
		}
	}
}

@media (max-width: 1000px) {
	.authWrapper {
		display: flex;
		flex-direction: column;
		.sectionTitle {
			margin-right: 0px;
			position: relative;
			height: 1150px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
	}
}

@media (max-width: 900px) {
	.authWrapper {
		.sectionTitle {
			& > img {
				margin-left: 10%;
			}
			.title {
				font-size: 22px;
			}
		}
	}
}
@media (max-width: $mobile) {
	.authWrapper {
		.sectionTitle {
			padding-bottom: 50px;
			height: 1250px;
		}
	}
}
