@import './variables';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $default-font;
	letter-spacing: 0.5px;

	-weblit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	&:before,
	&:after {
		box-sizing: border-box;
		-weblit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
	&:focus {
		outline: none;
	}
}

*::-webkit-input-placeholder {
	color: #c0c0c0;
	opacity: 1;
}
*:-moz-placeholder {
	color: #c0c0c0;
	opacity: 1;
}

*::-moz-placeholder {
	color: #c0c0c0;
	opacity: 1;
}

*:-ms-input-placeholder {
	color: #c0c0c0;
	opacity: 1;
}

html,
body {
	height: 100%;
}

body {
	background-color: $white;
	padding: 0;
	margin: 0;
	color: $black;
	font-size: 20px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	overflow-x: hidden;
}

button {
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

#__next {
	height: 100%;
}

.wrapper-inner-page {
	padding: 25px 55px;
	max-width: $desktop;
	width: 100%;
	margin: 0 auto;
}

/*Chrome, Safari, Edge, Opera*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/*Firefox*/
input[type='number'] {
	-moz-appearance: textfield;
}

.error {
	color: #8d2b3d;
	font-size: 0.9rem;
	margin: 10px 0px;
}

.select2-selection {
	&__control {
		cursor: pointer !important;
		max-width: 242px;
		width: 100%;
		min-height: 43px !important;
		border-radius: 5px !important;
		border: 1px solid #c7c7c7 !important;
		background-color: $white !important;
		box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);

		color: $black;
		font-family: Inter;
		font-size: 14px;
		font-weight: 400;
		line-height: normal;
		letter-spacing: 0.42px;
		&--is-focused {
			border-color: transparent !important;
			box-shadow: 0 0 0 1px rgba($accent, 0.3) !important;
		}
	}

	&__value-container,
	&__value-container--has-value {
		padding: 10px 20px !important;
	}

	&__menu {
		max-width: 242px;
		width: 100%;
		background-color: $white !important;
		border-radius: 5px !important;

		&-list {
			padding: 0 !important;
			border-radius: 5px !important;

			color: $black;
			font-family: Inter;
			font-size: 14px;
			font-weight: 400;
			line-height: normal;
			letter-spacing: 0.42px;
		}

		&-notice {
			color: $grey !important;
		}
	}

	&__option {
		cursor: pointer !important;
		padding: 10px 20px !important;
		&--is-focused {
			background-color: darken($grey, 3%) !important;
		}
		&--is-selected {
			background-color: darken($grey, 4%) !important;
		}
	}

	&__indicator,
	&__indicator:hover {
		color: transparent !important;
		background-image: url('../../../public/images/rectangle.svg');
		background-repeat: no-repeat;
		background-position: center;
	}

	&__indicator-separator {
		display: none;
	}

	&__placeholder {
		color: $black;
		font-family: Inter;
		font-size: 14px;
		font-weight: 400;
		line-height: normal;
		letter-spacing: 0.42px;
	}

	&__single-value {
		color: $black !important;
	}

	&__input {
		color: $white !important;
	}
}

.checkbox.style-b {
	display: inline-block;
	position: relative;
	padding-left: 40px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.checkbox.style-b input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
	opacity: 0.4;
}
.checkbox.style-b input:checked ~ .checkbox__checkmark {
	background-color: #fff;
	opacity: 1;
}
.checkbox.style-b input:checked ~ .checkbox__checkmark:after {
	opacity: 1;
}
.checkbox.style-b:hover input ~ .checkbox__checkmark {
	background-color: #eee;
}
.checkbox.style-b:hover input:checked ~ .checkbox__checkmark {
	background-color: #fff;
}
.checkbox.style-b input:checked ~ .checkbox__body {
	opacity: 1;
}
.checkbox.style-b .checkbox__checkmark {
	position: absolute;
	top: 0px;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: $white;
	border: 1px solid $black;
	opacity: 0.4;
	transition: background-color 0.25s ease;
}
.checkbox.style-b .checkbox__checkmark:after {
	content: '';
	position: absolute;
	left: 7px;
	top: 3px;
	width: 5px;
	height: 10px;
	border: solid #55d036;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
	opacity: 0;
	transition: opacity 0.25s ease;
}
.checkbox.style-b .checkbox__body {
	color: $black;
	font-size: 18px;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.54px;
	opacity: 0.4;
	transition: background-color 0.25s ease;
}

.carouselHistograms {
	max-width: 1120px;
	margin-left: 125px;
	height: 158px;
	padding: 20px 0px;
	border-radius: 10px;
	border: 2px solid #029491 !important;
}

.carouselHistograms .slick-slide {
	width: 135px;
}

.carouselHistograms .slick-next {
	right: -45px;
	top: 70px;
	width: 39px;
	height: 39px;
	background-image: url('../../../public/images/arrowLeftHistogram.png');
	transform: rotate(180deg);
	background-repeat: no-repeat;
	background-position: center;
	opacity: 1;
	&:hover {
		background-image: url('../../../public/images/arrowRightHistogram.png');
		transform: rotate(0deg);
		opacity: 1;
	}
	&:focus {
		background-image: url('../../../public/images/arrowRightHistogram.png');
		transform: rotate(0deg);
		opacity: 1;
	}
	&::target {
		background-image: url('../../../public/images/arrowRightHistogram.png');
		transform: rotate(0deg);
		opacity: 1;
	}
	&:active {
		background-image: url('../../../public/images/arrowLeftHistogram.png');
		transform: rotate(180deg);
		opacity: 1;
	}
}

.carouselHistograms .slick-prev {
	left: -170px;
	top: 70px;
	width: 39px;
	height: 39px;
	background-image: url('../../../public/images/arrowLeftHistogram.png');
	background-repeat: no-repeat;
	background-position: center;
	opacity: 1;
	&:hover {
		background-image: url('../../../public/images/arrowRightHistogram.png');
		transform: rotate(180deg);
		opacity: 1;
	}
	&:focus {
		background-image: url('../../../public/images/arrowRightHistogram.png');
		transform: rotate(180deg);
		opacity: 1;
	}
	&:target {
		background-image: url('../../../public/images/arrowRightHistogram.png');
		transform: rotate(180deg);
		opacity: 1;
	}
	&:active {
		background-image: url('../../../public/images/arrowLeftHistogram.png');
		transform: rotate(0deg);
		opacity: 1;
	}
}

@media (max-width: $mobile) {
	.error {
		font-size: 0.7rem;
	}
}

@media (max-width: 600px) {
	.select2-selection {
		&__control {
			max-width: 100%;
			width: 100%;
		}

		&__menu {
			max-width: 100%;
			width: 100%;
		}
	}
}

@media (max-width: $mobile) {
	.carouselHistograms {
		margin-left: 0px;
	}
	.carouselHistograms .slick-next {
		right: -36px;
	}
	.carouselHistograms .slick-prev {
		left: -38px;
	}
}
